<br/>
<img src="~/images/adminarea.jpg" alt="área de Administração" class="marginTop1" />
<div class="container">
    <div clas="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>
