
<br />
<img src="~/images/acessoNegado.jpg" alt="Acesso Negado" class="marginTop1" />
<div class="container">
    <div clas="jumbotron">
        <p>
            <h2>Acesso não autorizado.</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="home" asp-action="Index">Volta a Home Page</a>
</div>
